.session-authentication .auth-form-body {
    border-radius: 5px;
    border-top: 1px solid #d8dee2;
}

.auth-form-body {
    background-color: #fff;
    border: 1px solid #d8dee2;
    border-radius: 0 0 3px 3px;
    border-top: 0;
    font-size: 14px;
    padding: 20px;
}
.mt-3 {
    margin-top: 16px!important;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    background-color: #fff;
    color: #24292e;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 14px;
    line-height: 1.5;
}

.mat-form-field {
    display: contents;
}
