.mat-form-field {
    display: flow-root;
    position: relative;
    text-align: left;
}

.example-form {
  margin: 20px;
}

.btnmargin {
  margin-left:20px;
  margin-bottom:10px;
}

.button-right {
  float: right;
   margin-top:10px;
}
/* 
input {
  width: 100%;
  display: block;
}

div.inline {
  width: 100%;
  display: table;
}

div.inline div {
  display: table-cell;
}

div.inline div:nth-child(n+2) {
   padding-left: 10px;
} */