.bg-dark {
    background-color: #17a2b8!important;
}
.navbar-inverse {
    background-color: #286090;
    border-color: white;
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: whitesmoke;
}
.navbar-inverse .navbar-nav>li>a {
    color: whitesmoke;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: whitesmoke;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #c3c8cc;
}

.navbar-inverse .navbar-toggle {
    border-color: white;
}

 /* new */
.navbar-dark .navbar-toggler {
    border-color: whitesmoke
}

.dropdown-menu {
  background-color: #17a2b8;
  border: none;
  margin-left: 25px;
}

.mydropdown {
  align-content: center;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}
