.mat-form-field {
    display: flow-root;
    position: relative;
    text-align: left;
}

.form-row {
  margin: 20px;
}

.btnmargin {
  margin-left:20px;
  margin-bottom:10px;
}

.button-right {
  float: right;
  margin-top:10px;
}

.textarea {
   width: 100%;
}

.inputright { 
    text-align: right; 
}

.topmargin15px {
   margin-top:15px;
}