<div class="auth-form-body mt-3">
	<p style="color: blue;">Email or Usename: {{username | uppercase}} {{email | uppercase}}</p>
	<form class="example-form" [formGroup]="aForm" (ngSubmit)="onFormSubmit(aForm.value)">
		<mat-form-field class="example-full-width">
			<input matInput  minlength = "3" maxlength="20" type="password" placeholder="New Password" formControlName="password" [errorStateMatcher]="matcher" />
      <mat-error>
        <span *ngIf="
            !aForm.get('password').valid && aForm.get('password').touched
          ">Please enter new password</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
			<input matInput minlength = "3" maxlength="20" type="password" placeholder="Repeat New Password" formControlName="repeatpassword" [errorStateMatcher]="matcher" />
      <mat-error>
        <span *ngIf="
            !aForm.get('repeatpassword').valid && aForm.get('repeatpassword').touched
          ">Please enter repeat password</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input  type="text" minlength="6" maxlength="6" pattern="[0-9]+" matInput placeholder="Resetcode" formControlName="resetcode" [errorStateMatcher]="matcher" />
      <mat-error>
        <span *ngIf="!aForm.get('resetcode').valid && aForm.get('resetcode').touched">Please enter valid Resetcode</span>
      </mat-error>
    </mat-form-field>
    <p style="text-align: center; color: red;">{{message | uppercase}}</p>
    <br />
    <input type="submit" [disabled]="!aForm.valid" name="submit" value="Submit" tabindex="3" class="btn btn-primary btn-block"
    data-disable-with="Signing in…">
  </form>
    <br />
    <input type="submit" routerLink="/passwordforgot" name="forgotpassword" value="Forgot Password" tabindex="3" class="btn btn-info btn-block" 
    data-disable-with="Please wait…">
</div>