<div class="auth-form-body mt-3">
	<form class="example-form" [formGroup]="aForm" (ngSubmit)="onFormSubmit(aForm.value)">
		<mat-form-field class="example-full-width">
			<input matInput placeholder="Email" formControlName="email" [errorStateMatcher]="matcher" />
      <mat-error>
        <span *ngIf="
            !aForm.get('email').valid && aForm.get('email').touched
          ">Please enter email</span>
      </mat-error>
    </mat-form-field>
     <p style="text-align: center;">OR</p>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Username" formControlName="username" [errorStateMatcher]="matcher" />
      <mat-error>
        <span *ngIf="!aForm.get('username').valid && aForm.get('username').touched">Please enter username</span>
      </mat-error>
    </mat-form-field>
    <p style="text-align: center; color: red;">{{message | uppercase}}</p>
    <br />
    <input type="submit" [disabled]="!aForm.valid" name="submit" value="Submit" tabindex="3" class="btn btn-primary btn-block"
    data-disable-with="Signing in…">
  </form>
   <br />
   <input type="submit" routerLink="/login" name="login" value="Login" tabindex="3" class="btn btn-info btn-block"
    data-disable-with="Please wait…"> <br />
  <input type="submit" routerLink="/signup" name="signup" value="Register" tabindex="3" class="btn btn-info btn-block"
    data-disable-with="Please wait…"> <br />
</div> 